:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

/* allows bootstrap to style Laminas Navigation generated menu items within the navbar */
.navbar li.active a {
    color: var(--bs-navbar-active-color);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    text-decoration: underline;
}

